
@{
    ViewBag.Title = "BuscarCitas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer src="~/Scripts/APP/CitasPasaporte/CitasPasaporte.js"></script>
<h2>BuscarCitas</h2>
<br />
<br />
<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-8 col-sm-10 col-12">
            <div class="card" style="background:#0d3c61; border-top:5px solid; border-top-color:red;">
                <div class="card-body">
                    <form asp-action="ConsultarPersona" asp-controller="Solicitud" method="get">
                        <div class="form-row mt-0 justify-content-center">
                            <div class="col-12 col-sm-6 form-group mt-4">
                                <label class="text-white">No. Documento</label>
                                <input class="form-control" name="consultarPersona" type="text" placeholder="Digite No. de documento" />
                                <button class="btn btn-success text-white btn-block mt-3" type="submit">Consultar</button>
                                <button class="btn btn-outline-primary text-white btn-block mt-3" asp-action="ConsultarSolicitud">Volver</button>
                            </div>
                        </div>
                     
                    </form>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    
}

