
@{
    ViewBag.Title = "ListaConsultaCitasPasaporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer src="~/Scripts/APP/CitasPasaporte/ListasConsultasCitasPasaporte.js"></script>
<h1><strong>Listado Citas Pasaporte</strong></h1>

<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-pasaporte">
        <thead>

            <tr class="ColorTabla">
                @*<th>ID</th>*@
                <th>OFICINA PASAPORTE</th>
                <th>ESTADO</th>
                <th>FECHA</th>
                <th>HORA</th>
                <th>NOMBRES</th>
            </tr>
        </thead>
    </table>
</div>